<ion-header>
  <ion-toolbar>
    <ion-title>Product Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class ="ion-padding">
  <form [formGroup]="edit_item_form" (submit)="updateItem(edit_item_form.value)">
      <ion-item>
        <ion-label color="primary" position="floating">Title</ion-label>
        <ion-input type="text" formControlName="title" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Description</ion-label>
        <ion-input type="text" formControlName="description" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Price</ion-label>
        <ion-input type="number" formControlName="price" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Category</ion-label>
        <ion-select placeholder="Select One" formControlName="category" required>
          <ion-select-option value="toy">Toy</ion-select-option>
          <ion-select-option value="food">Food</ion-select-option>
          <ion-select-option value="drink">Drink</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-button class="submit-btn" expand="block" type="submit" >Update</ion-button>
      <ion-button expand="block" (click)="addToCart()">Add To Cart</ion-button>
      <ion-button expand="block" (click)="deleteItem()">Delete Item</ion-button>
      
    </form>
    <!--
    <div *ngFor= "let product of items">
    <ion-button expand="block" (click)="addToCart(product)">Add To Cart</ion-button>
    </div>
    -->
  </ion-content>