<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="openNewItemPage()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--
<ion-img [src]="imgfile"></ion-img>
 -->
<ion-list>
  <ion-item *ngFor="let item of items" (click)="goToItem(item)">
          <ion-thumbnail slot="end"> 
            <ion-img [src]="item.img"></ion-img>

           </ion-thumbnail>

    <ion-label>
      {{ item.title }}
    </ion-label>
  </ion-item>
</ion-list>

<!-- not suggested 
<ion-button href="/new-item"> new item </ion-button>
-->
<!-- suggested link 
<ion-button routerLink="/inputsimple" routerDirection="forward">new item1</ion-button>
-->
<!-- link with parameter passing -->

<!-- <ion-item *ngFor="let item of items" [routerLink]="['/details',item]" 
routerDirection="forward"></ion-item> -->
</ion-content>
